config_local.ini
.vscode
.tags*
#################
## Eclipse
#################
*.tags*
*.pyc
*.spyderproject
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*~
*.egg-info

*.Rdata
*.Rhistory
*.gzip
# tests
til_core/tests/output/demography_*.png
til_core/tests/output/*.csv
til_core/tests/output/*.h5

*.csv
*.h5
